// default color set
$primary-color : #e6674c;
// color variation

// title color

// social color

// body var
$iconFont: 'FontAwesome';
$iconFont2: 'Linearicons-Free';
$bodyFont: 'Open Sans', sans-serif;
$titleFont: 'Roboto', sans-serif;
$fontWeight: 400;
$bColor: #333;
$bfSize: 14px;
$blineHeight: 26px / $bfSize;

