	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/07/2018 14:06
  	*/

	  @font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.eot");
		src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Flaticon.woff") format("woff"),
			 url("../fonts/Flaticon.ttf") format("truetype"),
			 url("../fonts/Flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	  }
	  
	  @media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
		  font-family: "Flaticon";
		  src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
		}
	  }
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
		font-family: Flaticon;
		font-style: normal;
	  }

.flaticon-001-menu:before {
	content: "\e001";
}
.flaticon-002-monitor:before {
	content: "\e002";
}
.flaticon-003-pen:before {
	content: "\e003";
}
.flaticon-004-camera:before {
	content: "\e004";
}
.flaticon-005-bicycle:before {
	content: "\e005";
}
.flaticon-006-research:before {
	content: "\e006";
}
.flaticon-007-research-1:before {
	content: "\e007";
}
.flaticon-008-brain:before {
	content: "\e008";
}
.flaticon-009-idea:before {
	content: "\e009";
}
.flaticon-010-honeymoon:before {
	content: "\e00a";
}
.flaticon-011-trophy:before {
	content: "\e00b";
}
.flaticon-012-best:before {
	content: "\e00c";
}
.flaticon-013-medal:before {
	content: "\e00d";
}
.flaticon-014-one:before {
	content: "\e00e";
}
.flaticon-015-medal-1:before {
	content: "\e00f";
}
.flaticon-016-medal-2:before {
	content: "\e010";
}
.flaticon-017-medal-3:before {
	content: "\e011";
}
.flaticon-018-success:before {
	content: "\e012";
}
.flaticon-019-prize:before {
	content: "\e013";
}
.flaticon-020-user:before {
	content: "\e014";
}
.flaticon-021-chat:before {
	content: "\e015";
}
.flaticon-022-share:before {
	content: "\e016";
}
.flaticon-023-calendar:before {
	content: "\e017";
}
.flaticon-024-reply:before {
	content: "\e018";
}
